/* random color */
.random-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.random-color .box {
  width: 50%;
  padding: 4rem;
  margin: 0 auto;
  border-radius: 30px;
  background: #111;
}

.random-color h2 {
  color: #fff;
}

.random-color .color-txt {
  display: block;
  color: #fff;
}

.random-color .btn {
  margin-top: 2rem;
  background: transparent;
}

/* counter */
.counter {
  height: 100vh;
}

.counter .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter .value {
  margin: 2rem 0;
  font-size: 5rem;
}

.counter .button-container .btn {
  min-width: 12%;
  padding: 1rem;
}
